<!DOCTYPE html>
<html lang="en">

	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>
				{% block title %}{% endblock %}- Twig</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
		{% endblock %}
		{% block style %}{% endblock %}
	</head>

	<body>
		<div id="navbar">
			{% block navbar %}
			{% if session.loggedInUser %}
			    <p>Welcome, {{ username }}</p>
				<a href="http://localhost/user/logout"><input type="submit" value="Log out"></a>
			{% else %}
				<a href="http://localhost/user/login"><input type="submit" value="Log in"></a>
			{% endif %}
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	</body>

</html>
