{% extends "./layouts/app.twig" %}
{% block title %}
    Error {{ errorNumber }}
{% endblock %}
{% block content %}
    <h1>Error {{ errorNumber }}</h1>
    <h5>Oops! Something went wrong.</h5>
    <p>{{ errorMessage }}</p>
{% endblock %}