{% extends "./layouts/app.twig" %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}
    <p>Mijn naam is {{name}}.</p>
    <ul>
        {% for fruit in fruits %}
        <li>{{fruit}}</li>
        {% endfor %}
    </ul>
{% endblock %}