{% extends "./layouts/app.twig" %}
{% block title %}
    Welkom
{% endblock %}
{% block content %}
    <ul>
        {% for fruit in fruits %}
        <li>{{fruit}}</li>
        {% endfor %}
    </ul>
{% endblock %}