{% extends "./layouts/app.twig" %}
{% block title %}
	Keuken bewerken
{% endblock %}
{% block content %}
	<form method="post" action="edit">
        <input type="hidden" name="id" value="{{ kitchen.id }}">
		<table>
			<tr>
				<td>Name</td>
				<td>
					<input type="text" name="name" value="{{ kitchen.name }}" required/>
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>
					<textarea name="description" rows="4" cols="40" required>{{ kitchen.description }}</textarea>
				</td>
			</tr>
		</table>
		<input type="submit" value="Edit"/>
	</form>
{% endblock %}
