{% extends "./layouts/app.twig" %}
{% block style %}
	<style>
		table {
			border: 1px solid;
		};
	</style>
{% endblock %}
{% block title %}
	Keukens
{% endblock %}
{% block content %}
	{% for kitchen in kitchens %}
		<table>
			<tr>
				<td>
					<a href="kitchen/show?id={{ kitchen.id }}">{{ kitchen.name }}</a>
				</td>
			</tr>
		</table>
	{% endfor %}
{% endblock %}
